@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@Resources.Areas.Identity.Pages.Account.Manage.Login.LogIn</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email">@Resources.Areas.Identity.Pages.Account.Manage.Login.Email</label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password">@Resources.Areas.Identity.Pages.Account.Manage.Login.Password</label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Resources.Areas.Identity.Pages.Account.Manage.Login.RememberMe
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">@Resources.Areas.Identity.Pages.Account.Manage.Login.LogIn</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">@Resources.Areas.Identity.Pages.Account.Manage.Login.ForgotPassoword</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">@Resources.Areas.Identity.Pages.Account.Manage.Login.RegisterAsANewUser</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
