@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@Resources.Areas.Identity.Pages.Account.Manage.Register.RegisterString</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>@Resources.Areas.Identity.Pages.Account.Manage.Register.CreateANewAccount</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.FirstName">@Resources.Areas.Identity.Pages.Account.Manage.Register.FirstName</label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName">@Resources.Areas.Identity.Pages.Account.Manage.Register.LastName</label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email">@Resources.Areas.Identity.Pages.Account.Manage.Register.Email</label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Phone">@Resources.Areas.Identity.Pages.Account.Manage.Register.Phone</label>
                <input asp-for="Input.Phone" class="form-control" />
                <span asp-validation-for="Input.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password">@Resources.Areas.Identity.Pages.Account.Manage.Register.Password</label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword">@Resources.Areas.Identity.Pages.Account.Manage.Register.ConfirmPassword</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">@Resources.Areas.Identity.Pages.Account.Manage.Register.RegisterString</button>
        </form>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
